@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

.homeContainer {
    
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  

}

.logoImg{
  width: auto;
  height: 35px;
}

.logoImg img{
  width: auto;
  height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}
.header{
    width:100%;
    height:80px;
    background-color:#1B8381;
    display:flex;
    justify-content:space-between;
    padding:0px 20px;
    align-items:center;
    user-select: none;
}
.header h1{
    font-size:20px;
    color:white;
   

}
.togglemenu{
    display: none;
}

.userProfile{
    position: relative;
    display:flex;
    gap:10px;
    align-items:center;
}
.user_dropdown{
    background-color: white;
    position: absolute;
    top: 50px;
    padding: 10px;
    right: 0;
    z-index: 999;
    width: 150px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
}

.user_dropdown li{
    list-style-type: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_dropdown li:hover{
    background-color:#F3F4F6;

}
.userProfile p{
    color:white;
    font-size:18px;
    cursor: pointer;
    font-weight:400;
}

.userPicture {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    
}

.userPicture img {
    width:100%;
    height:100%;
    border-radius: 50%;
}
.sidebar {
    width:260px;
   max-height: calc(100vh - 80px);
   height: auto;
    background-color: white;
    color: black;
 padding:10px 0px;
    display: flex;
    flex-direction: column;
 gap: 4px;
    position: sticky;
    top: 0;
    left: 0;
   overflow-y: auto;
}


.sidebar::-webkit-scrollbar{
 display: none;
}




.material-symbols-rounded  {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  .nav-item {
    position: relative;
    width:100%;
padding-right:10px;

  }



  .alignMenu{
    display:flex;
    gap:10px;
    align-items:center;
    margin-left:20px;
    padding:8px 0px;
  }
  
  .nav-item-header {
    position: relative;
    cursor: pointer;
    display: flex;
    gap:0px;
    align-items: center;
    justify-content:space-between;   
  }
  
  
  .nav-item-header:hover{
   
    color:#1B8381;
  }
  .nav-border{
    position: absolute;
    border-left:4px solid #1B8381;
    border-radius: 50px;
   
    height: 100%;
  
  }

  .nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .nav-text {
    font-size: 16px;
    font-weight: 500;
  }
  
  .subnav-container {
    margin-top:2px;
    margin-bottom: 12px;
   
    display:flex;
    flex-direction:column;
    height:auto;
    width: 100%;
  }
  
  .subnav-item {
     color:gray;
     cursor: pointer;
     padding: 4px 3px;
     padding-left: 55px;
     padding-right: 20px;

  }
  
  .active-subnav{
    color: black;
    background-color: rgb(229 231 235);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 35px;
  }
  
  .subnav-item:hover {
    color: black;
  }
  
  .active {
    height:100%;
    color: #1B8381;
  
   
  }
  .active-box{
    position: absolute;
    top:0;
    left:0;
 border-left:4px solid #1B8381;
 border-radius: 50px;
 height:100%;
  }

  
 

  

.logo h1 {
    font-size: 34px;
    font-family: Montserrat;
    font-weight: 700;
}
.logo img{
    display: none;
}

.navs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.navs li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Montserrat;
    font-weight: 400;
    cursor: pointer;
}

.navList1 li {
    font-size: 18px;
}

.navList1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.navList2 li {
    font-size: 14px;
}

.navList2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboardContainer {
padding: 20px;
    width: calc(100vw - 260px);
    height: calc(100vh - 80px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
   

}





.cardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust min and max width as needed */
    gap: 16px; /* Optional: You can adjust the gap between columns */
    grid-auto-flow: dense; 
}


.card {
    width:100%;
    height: 120px;
    background-color: aqua;
    border-radius: 15px;
    position: relative;
}

.card span {
    position: absolute;
    top: 15px;
    right: 15px;
}

.cardContent {
    position: absolute;
    bottom: 20px;
    left: 25px;
}

.cardContent h4 {
    color: #000;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
}

.cardContent p {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
}

.chartContainer {
    height: 353px;
    width: 100%;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 20px;
}

.chartContainer h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
}

.actIndicators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actIndicators select {
    border: none;
    outline: none;
    background-color: transparent;
    color: #858585;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.alignInd {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.userIndicator {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}
.chartHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position:relative;
}

.barChart {
    width: 100%;
    height: 100%;
    padding: 10px 0px 20px 0px;
}


.download_dropdown{
    background-color: #F3F4F6;
    position: absolute;
  
    padding: 10px;
    top: 30px;
    right: 0px;
    z-index: 999;
    width: 150px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}

.download_dropdown li{
    list-style-type: none;
    width: 100%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    
  display: flex;
  align-items: center;
  justify-content: center;
}

.download_dropdown li:hover{
    background-color:white;

}




/* Example CSS styles */
.buttonStyle {
    /* Common styles for all action buttons */
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    border: none;
    outline: none;
    appearance: none;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    background-color: #4CDEC1;
    cursor: pointer;
  }
  
  .viewBtn {
    /* Styles for the 'View' button */
    background-color: #70c4f9;
    
  }
  
  .editBtn {
    /* Styles for the 'Edit' button */
    background-color: #fec254;
  
  }
  
  .deleteBtn {
    /* Styles for the 'Delete' button */
    background-color:#ff585b;
    
  }
  
  .activeBtn{
    background-color: #4CDEC1;
  
  }

  .pendingBtn{
    background-color:  rgb(248, 209, 79);
  
  }

  .approvedBtn{
    background-color: #4CDEC1;
  
  }
  /* Add more styles for other actions as needed */

  @media only screen and (max-width: 1024px) {
   .sidebar{
    position: absolute;
    z-index: 999;
   
    transition: transform 0.3s ease-in-out;
    transform: translateX(-270px);
   }
   .sidebarActive{
  
    transform: translateX(0);
}
   .dashboardContainer{
    width: 100%;
   }
   .togglemenu{
    display: block;
   }
  }

  @media only screen and (max-width: 620px) {
 .userProfile p{
    display: none;
 }
 .logoImg{
  width: auto;
  height: 30px;
}
   }

