.container{
    width: 100vw;
    height: 100vh;
    background-color: #EEFFFD;
    display: flex;
}
.blackContainer{

    width: 40%;
    height: 100%;
    background-color: #1B8381;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.blackContainer h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
text-align: center;
    font-weight: 700;
   
}
.authContainer{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer{
    width: 385px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.formHead h3{
    color: #000;
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
}
.formHead  h5{
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}
.formHead p {
    margin-bottom: 50px ;
    font-size: 14px;
    text-align: center;
}
.signinWith{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signinOptions{
    width: 185px;
    height: 30px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 7px 20px;
    cursor: pointer;
}

.signinOptions h6{
    color:#858585;
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-weight: 400;
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}
.form{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.labelledInput{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.labelledInput label{
    color: #000;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}
.labelledInput input{
    outline: none;
    border: none;
    background-color: #F5F5F5;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    color: #000;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}

#submitBtn{
    outline: none;
    border: none;
    background-color: #1B8381;
    height: 40px;
    border-radius: 10px;
    width: 100%;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
cursor: pointer;
}
.form p{
    font-family: Lato;
font-size: 16px;
font-weight: 400;
cursor: pointer;
}
.register{
    color: #858585;
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;
cursor: pointer;
}
@media only screen and (max-width: 800px) {
    .container{
        flex-direction: column;
    }
    .blackContainer{
    
        width: 100%;
        height: auto;
    }
    .authContainer{
        width: 100%;
    }
    .blackContainer h1{
        font-size: 25px;
        font-weight: 700;
       
    }
}

@media only screen and (max-width: 500px){
    
    .container{
        flex-direction: column;
    }
    .blackContainer{
    
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .authContainer{
        margin-top: -40px;
        width: 100%;
    }
    .blackContainer h1{
        font-size: 20px;
        font-weight: 700;
       
    }
    .formContainer{
        width: 100%;
        gap: 20px;
        padding: 30px;
    }
    .formHead h3{
    font-size: 26px;
    }
    .formHead  h5{
        font-size: 14px;
    }
    .signinWith{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .signinOptions{
        width: 100%;
        border-radius: 6px;
    }
    
    .form{
        border-radius: 10px;
        padding: 20px;
        gap: 15px;
    }
    .labelledInput label{
    font-size: 14px;
    }
    .labelledInput input{
        height: 35px;
        border-radius: 6px;
        padding-left: 10px;
    font-size: 14px;
    }
    
    #submitBtn{
        height: 35px;
        border-radius: 6px;
        width: 100%;
    font-size: 14px;
    font-weight: 700;
    }
    .form p{
    font-size: 14px;
    }
    .register{
    font-family: Lato;
    font-size: 14px;
    }
}